
/*--------------------------- Color variations ----------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/* =================================== */
/*  Basic Style 
/* =================================== */
::-moz-selection {
    /* Code for Firefox */
    background-color: #39cfca;
    color: #fff; }
  
  ::selection {
    background-color: #39cfca;
    color: #fff; }
  
  ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #777777;
    font-weight: 300; }
  
  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777777;
    opacity: 1;
    font-weight: 300; }
  
  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777777;
    opacity: 1;
    font-weight: 300; }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
    font-weight: 300; }
  
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
    font-weight: 300; }
  
  body {
    color: #777777;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625em;
    position: relative; }
  
  ol, ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  
  select {
    display: block; }
  
  figure {
    margin: 0; }
  
  a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  
  iframe {
    border: 0; }
  
  a, a:focus, a:hover {
    text-decoration: none;
    outline: 0; }
  
  .btn.active.focus,
  .btn.active:focus,
  .btn.focus,
  .btn.focus:active,
  .btn:active:focus,
  .btn:focus {
    text-decoration: none;
    outline: 0; }
  
  .card-panel {
    margin: 0;
    padding: 60px; }
  
  /**
   *  Typography
   *
   **/
  .btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
    font-size: 1em;
    line-height: inherit; }
  
  .gray-bg {
    background: #f9f9ff; }
  
  h1, h2, h3,
  h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600; }
  
  .h1, .h2, .h3,
  .h4, .h5, .h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #222222; }
  
  h1, .h1 {
    font-size: 36px; }
  
  h2, .h2 {
    font-size: 30px; }
  
  h3, .h3 {
    font-size: 24px; }
  
  h4, .h4 {
    font-size: 18px; }
  
  h5, .h5 {
    font-size: 16px; }
  
  h6, .h6 {
    font-size: 14px;
    color: #222222; }
  
  td, th {
    border-radius: 0px; }
  
  /**
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  .clear::before, .clear::after {
    content: " ";
    display: table; }
  .clear::after {
    clear: both; }
  
  .fz-11 {
    font-size: 11px; }
  
  .fz-12 {
    font-size: 12px; }
  
  .fz-13 {
    font-size: 13px; }
  
  .fz-14 {
    font-size: 14px; }
  
  .fz-15 {
    font-size: 15px; }
  
  .fz-16 {
    font-size: 16px; }
  
  .fz-18 {
    font-size: 18px; }
  
  .fz-30 {
    font-size: 30px; }
  
  .fz-48 {
    font-size: 48px !important; }
  
  .fw100 {
    font-weight: 100; }
  
  .fw300 {
    font-weight: 300; }
  
  .fw400 {
    font-weight: 400 !important; }
  
  .fw500 {
    font-weight: 500; }
  
  .f700 {
    font-weight: 700; }
  
  .fsi {
    font-style: italic; }
  
  .mt-10 {
    margin-top: 10px; }
  
  .mt-15 {
    margin-top: 15px; }
  
  .mt-20 {
    margin-top: 20px; }
  
  .mt-25 {
    margin-top: 25px; }
  
  .mt-30 {
    margin-top: 30px; }
  
  .mt-35 {
    margin-top: 35px; }
  
  .mt-40 {
    margin-top: 40px; }
  
  .mt-50 {
    margin-top: 50px; }
  
  .mt-60 {
    margin-top: 60px; }
  
  .mt-70 {
    margin-top: 70px; }
  
  .mt-80 {
    margin-top: 80px; }
  
  .mt-100 {
    margin-top: 100px; }
  
  .mt-120 {
    margin-top: 120px; }
  
  .mt-150 {
    margin-top: 150px; }
  
  .ml-0 {
    margin-left: 0 !important; }
  
  .ml-5 {
    margin-left: 5px !important; }
  
  .ml-10 {
    margin-left: 10px; }
  
  .ml-15 {
    margin-left: 15px; }
  
  .ml-20 {
    margin-left: 20px; }
  
  .ml-30 {
    margin-left: 30px; }
  
  .ml-50 {
    margin-left: 50px; }
  
  .mr-0 {
    margin-right: 0 !important; }
  
  .mr-5 {
    margin-right: 5px !important; }
  
  .mr-15 {
    margin-right: 15px; }
  
  .mr-10 {
    margin-right: 10px; }
  
  .mr-20 {
    margin-right: 20px; }
  
  .mr-30 {
    margin-right: 30px; }
  
  .mr-50 {
    margin-right: 50px; }
  
  .mb-0 {
    margin-bottom: 0px; }
  
  .mb-0-i {
    margin-bottom: 0px !important; }
  
  .mb-5 {
    margin-bottom: 5px; }
  
  .mb-10 {
    margin-bottom: 10px; }
  
  .mb-15 {
    margin-bottom: 15px; }
  
  .mb-20 {
    margin-bottom: 20px; }
  
  .mb-25 {
    margin-bottom: 25px; }
  
  .mb-30 {
    margin-bottom: 30px; }
  
  .mb-40 {
    margin-bottom: 40px; }
  
  .mb-50 {
    margin-bottom: 50px; }
  
  .mb-60 {
    margin-bottom: 60px; }
  
  .mb-70 {
    margin-bottom: 70px; }
  
  .mb-80 {
    margin-bottom: 80px; }
  
  .mb-90 {
    margin-bottom: 90px; }
  
  .mb-100 {
    margin-bottom: 100px; }
  
  .pt-0 {
    padding-top: 0px; }
  
  .pt-10 {
    padding-top: 10px; }
  
  .pt-15 {
    padding-top: 15px; }
  
  .pt-20 {
    padding-top: 20px; }
  
  .pt-25 {
    padding-top: 25px; }
  
  .pt-30 {
    padding-top: 30px; }
  
  .pt-40 {
    padding-top: 40px; }
  
  .pt-50 {
    padding-top: 50px; }
  
  .pt-60 {
    padding-top: 60px; }
  
  .pt-70 {
    padding-top: 70px; }
  
  .pt-80 {
    padding-top: 80px; }
  
  .pt-90 {
    padding-top: 90px; }
  
  .pt-100 {
    padding-top: 100px; }
  
  .pt-120 {
    padding-top: 120px; }
  
  .pt-150 {
    padding-top: 150px; }
  
  .pt-170 {
    padding-top: 170px; }
  
  .pb-0 {
    padding-bottom: 0px; }
  
  .pb-10 {
    padding-bottom: 10px; }
  
  .pb-15 {
    padding-bottom: 15px; }
  
  .pb-20 {
    padding-bottom: 20px; }
  
  .pb-25 {
    padding-bottom: 25px; }
  
  .pb-30 {
    padding-bottom: 30px; }
  
  .pb-40 {
    padding-bottom: 40px; }
  
  .pb-50 {
    padding-bottom: 50px; }
  
  .pb-60 {
    padding-bottom: 60px; }
  
  .pb-70 {
    padding-bottom: 70px; }
  
  .pb-80 {
    padding-bottom: 80px; }
  
  .pb-90 {
    padding-bottom: 90px; }
  
  .pb-100 {
    padding-bottom: 100px; }
  
  .pb-120 {
    padding-bottom: 120px; }
  
  .pb-150 {
    padding-bottom: 150px; }
  
  .pr-30 {
    padding-right: 30px; }
  
  .pl-30 {
    padding-left: 30px; }
  
  .pl-90 {
    padding-left: 90px; }
  
  .p-40 {
    padding: 40px; }
  
  .float-left {
    float: left; }
  
  .float-right {
    float: right; }
  
  .text-italic {
    font-style: italic; }
  
  .text-white {
    color: #fff; }
  
  .text-black {
    color: #000; }
  
  .transition {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  
  .section-full {
    padding: 100px 0; }
  
  .section-half {
    padding: 75px 0; }
  
  .text-center {
    text-align: center; }
  
  .text-left {
    text-align: left; }
  
  .text-rigth {
    text-align: right; }
  
  .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  
  .inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  
  .flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  
  .flex-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  
  .flex-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
  
  .flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  
  .flex-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end; }
  
  .flex-top {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  
  .flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  
  .flex-bottom {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end; }
  
  .space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  
  .space-around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
  
  .flex-column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  
  .flex-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  
  .display-table {
    display: table; }
  
  .light {
    color: #fff; }
  
  .dark {
    color: #000; }
  
  .relative {
    position: relative; }
  
  .overflow-hidden {
    overflow: hidden; }
  
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  
  .container.fullwidth {
    width: 100%; }
  .container.no-padding {
    padding-left: 0;
    padding-right: 0; }
  
  .no-padding {
    padding: 0; }
  
  .section-bg {
    background: #f9fafc; }
  
  @media (max-width: 767px) {
    .no-flex-xs {
      display: block !important; } }
  
  .row.no-margin {
    margin-left: 0;
    margin-right: 0; }
  
  .section-gap {
    padding: 150px 0; }
    @media (max-width: 991px) {
      .section-gap {
        padding: 80px 0; } }
  
  .section-title {
    padding-bottom: 80px; }
    @media (max-width: 991px) {
      .section-title {
        padding-bottom: 50px; } }
    .section-title h1 {
      margin-bottom: 20px;
      font-size: 42px;
      color: #000; }
      @media (max-width: 991px) {
        .section-title h1 {
          font-size: 35px; } }
      @media (max-width: 576px) {
        .section-title h1 {
          font-size: 30px; } }
    .section-title p {
      font-size: 16px;
      margin-bottom: 0; }
      @media (max-width: 991.98px) {
        .section-title p br {
          display: none; } }
  
  #back-top {
    position: fixed;
    right: 20px;
    bottom: 0px;
    cursor: pointer;
    z-index: 9999999; }
    @media (max-width: 768px) {
      #back-top {
        right: 5px; } }
    #back-top a {
      background: url(./img/rocket.png) no-repeat;
      background-size: 95% 80%;
      width: 50px;
      height: 116px;
      display: block; }
      @media (max-width: 768px) {
        #back-top a {
          width: 35px;
          height: 74px; } }
  
  .p1-gradient-bg, .primary-btn, .primary-btn.white:hover, .banner-content .input-wrap .search-btn, .p1-gradient-bg, .primary-btn, .primary-btn.white:hover, .banner-content .list-wrap .copy-btn, .courses-list li:hover, .testimonials-area .owl-thumb-item.active .overlay-grad, .testimonials-area .owl-thumb-item .overlay-grad:hover, .top-category-widget-area .single-cat-widget:hover .overlay-bg, .post-content-area .single-post .primary-btn:hover, .blog-pagination .page-item.active .page-link, .blog-pagination .page-link:hover, .widget-wrap .newsletter-widget .bbtns, .footer-area .single-footer-widget .click-btn, .footer-area .footer-bottom .footer-social a:hover {
    background: -webkit-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: -moz-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: -o-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: -ms-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: linear-gradient(90deg, #39cfca 0%, #3279bb 100%); }
  
  .p1-gradient-color {
    background: -webkit-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: -moz-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: -o-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: -ms-linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    background: linear-gradient(90deg, #39cfca 0%, #3279bb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  
  .primary-btn {
    line-height: 42px;
    padding: 0 36px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
    -webkit-transition: 0.5s all ease-in;
    -moz-transition: 0.5s all ease-in;
    -o-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in; }
    .primary-btn:focus {
      outline: none; }
    .primary-btn:hover {
      color: #fff;
      background-size: 200% auto;
      background-position: right center; }
    .primary-btn.transparent {
      background: transparent;
      height: 30px;
      line-height: 30px;
      border: 1px solid #fff;
      border-radius: 0px;
      padding: 0 18px;
      font-size: 12px; }
      .primary-btn.transparent:hover {
        background: #fff;
        color: #000; }
    .primary-btn.white {
      background: #fff;
      color: #000; }
      .primary-btn.white:hover {
        color: #fff; }
  
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  
  .sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0; }
  
  .text-heading {
    margin-bottom: 30px;
    font-size: 24px; }
  
  b, sup, sub, u, del {
    color: #39cfca; }
  
  h1 {
    font-size: 42px; }
  
  h2 {
    font-size: 30px; }
  
  h3 {
    font-size: 24px; }
  
  h4 {
    font-size: 21px; }
  
  h5 {
    font-size: 16px; }
  
  h6 {
    font-size: 14px; }
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em; }
  
  .typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
    color: #777777; }
  
  .button-area {
    background: #fff; }
    .button-area .border-top-generic {
      padding: 70px 15px;
      border-top: 1px dotted #eee; }
  
  .button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px; }
    .button-group-area .genric-btn:last-child {
      margin-right: 0; }
  
  .genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .genric-btn:focus {
      outline: none; }
    .genric-btn.e-large {
      padding: 0 40px;
      line-height: 50px; }
    .genric-btn.large {
      line-height: 45px; }
    .genric-btn.medium {
      line-height: 30px; }
    .genric-btn.small {
      line-height: 25px; }
    .genric-btn.radius {
      border-radius: 3px; }
    .genric-btn.circle {
      border-radius: 20px; }
    .genric-btn.arrow {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .genric-btn.arrow span {
        margin-left: 10px; }
    .genric-btn.default {
      color: #222222;
      background: #f9f9ff;
      border: 1px solid transparent; }
      .genric-btn.default:hover {
        border: 1px solid #f9f9ff;
        background: #fff; }
    .genric-btn.default-border {
      border: 1px solid #f9f9ff;
      background: #fff; }
      .genric-btn.default-border:hover {
        color: #222222;
        background: #f9f9ff;
        border: 1px solid transparent; }
    .genric-btn.primary {
      color: #fff;
      background: #39cfca;
      border: 1px solid transparent; }
      .genric-btn.primary:hover {
        color: #39cfca;
        border: 1px solid #39cfca;
        background: #fff; }
    .genric-btn.primary-border {
      color: #39cfca;
      border: 1px solid #39cfca;
      background: #fff; }
      .genric-btn.primary-border:hover {
        color: #fff;
        background: #39cfca;
        border: 1px solid transparent; }
    .genric-btn.success {
      color: #fff;
      background: #4cd3e3;
      border: 1px solid transparent; }
      .genric-btn.success:hover {
        color: #4cd3e3;
        border: 1px solid #4cd3e3;
        background: #fff; }
    .genric-btn.success-border {
      color: #4cd3e3;
      border: 1px solid #4cd3e3;
      background: #fff; }
      .genric-btn.success-border:hover {
        color: #fff;
        background: #4cd3e3;
        border: 1px solid transparent; }
    .genric-btn.info {
      color: #fff;
      background: #38a4ff;
      border: 1px solid transparent; }
      .genric-btn.info:hover {
        color: #38a4ff;
        border: 1px solid #38a4ff;
        background: #fff; }
    .genric-btn.info-border {
      color: #38a4ff;
      border: 1px solid #38a4ff;
      background: #fff; }
      .genric-btn.info-border:hover {
        color: #fff;
        background: #38a4ff;
        border: 1px solid transparent; }
    .genric-btn.warning {
      color: #fff;
      background: #f4e700;
      border: 1px solid transparent; }
      .genric-btn.warning:hover {
        color: #f4e700;
        border: 1px solid #f4e700;
        background: #fff; }
    .genric-btn.warning-border {
      color: #f4e700;
      border: 1px solid #f4e700;
      background: #fff; }
      .genric-btn.warning-border:hover {
        color: #fff;
        background: #f4e700;
        border: 1px solid transparent; }
    .genric-btn.danger {
      color: #fff;
      background: #f44a40;
      border: 1px solid transparent; }
      .genric-btn.danger:hover {
        color: #f44a40;
        border: 1px solid #f44a40;
        background: #fff; }
    .genric-btn.danger-border {
      color: #f44a40;
      border: 1px solid #f44a40;
      background: #fff; }
      .genric-btn.danger-border:hover {
        color: #fff;
        background: #f44a40;
        border: 1px solid transparent; }
    .genric-btn.link {
      color: #222222;
      background: #f9f9ff;
      text-decoration: underline;
      border: 1px solid transparent; }
      .genric-btn.link:hover {
        color: #222222;
        border: 1px solid #f9f9ff;
        background: #fff; }
    .genric-btn.link-border {
      color: #222222;
      border: 1px solid #f9f9ff;
      background: #fff;
      text-decoration: underline; }
      .genric-btn.link-border:hover {
        color: #222222;
        background: #f9f9ff;
        border: 1px solid transparent; }
    .genric-btn.disable {
      color: #222222, 0.3;
      background: #f9f9ff;
      border: 1px solid transparent;
      cursor: not-allowed; }
  
  .generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: #f9f9ff;
    border-left: 2px solid #39cfca; }
  
  .progress-table-wrap {
    overflow-x: scroll; }
  
  .progress-table {
    background: #f9f9ff;
    padding: 15px 0px 30px 0px;
    min-width: 800px; }
    .progress-table .serial {
      width: 11.83%;
      padding-left: 30px; }
    .progress-table .country {
      width: 28.07%; }
    .progress-table .visit {
      width: 19.74%; }
    .progress-table .percentage {
      width: 40.36%;
      padding-right: 50px; }
    .progress-table .table-head {
      display: flex; }
      .progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
        color: #222222;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 500; }
    .progress-table .table-row {
      padding: 15px 0;
      border-top: 1px solid #edf3fd;
      display: flex; }
      .progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
        display: flex;
        align-items: center; }
      .progress-table .table-row .country img {
        margin-right: 15px; }
      .progress-table .table-row .percentage .progress {
        width: 80%;
        border-radius: 0px;
        background: transparent; }
        .progress-table .table-row .percentage .progress .progress-bar {
          height: 5px;
          line-height: 5px; }
          .progress-table .table-row .percentage .progress .progress-bar.color-1 {
            background-color: #6382e6; }
          .progress-table .table-row .percentage .progress .progress-bar.color-2 {
            background-color: #e66686; }
          .progress-table .table-row .percentage .progress .progress-bar.color-3 {
            background-color: #f09359; }
          .progress-table .table-row .percentage .progress .progress-bar.color-4 {
            background-color: #73fbaf; }
          .progress-table .table-row .percentage .progress .progress-bar.color-5 {
            background-color: #73fbaf; }
          .progress-table .table-row .percentage .progress .progress-bar.color-6 {
            background-color: #6382e6; }
          .progress-table .table-row .percentage .progress .progress-bar.color-7 {
            background-color: #a367e7; }
          .progress-table .table-row .percentage .progress .progress-bar.color-8 {
            background-color: #e66686; }
  
  .single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px; }
  
  .list-style {
    width: 14px;
    height: 14px; }
  
  .unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important; }
    .unordered-list li:before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      border: 3px solid #39cfca;
      background: #fff;
      top: 4px;
      left: 0;
      border-radius: 50%; }
  
  .ordered-list {
    margin-left: 30px; }
    .ordered-list li {
      list-style-type: decimal-leading-zero;
      color: #39cfca;
      font-weight: 500;
      line-height: 1.82em !important; }
      .ordered-list li span {
        font-weight: 300;
        color: #777777; }
  
  .ordered-list-alpha li {
    margin-left: 30px;
    list-style-type: lower-alpha;
    color: #39cfca;
    font-weight: 500;
    line-height: 1.82em !important; }
    .ordered-list-alpha li span {
      font-weight: 300;
      color: #777777; }
  
  .ordered-list-roman li {
    margin-left: 30px;
    list-style-type: lower-roman;
    color: #39cfca;
    font-weight: 500;
    line-height: 1.82em !important; }
    .ordered-list-roman li span {
      font-weight: 300;
      color: #777777; }
  
  .single-input {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px; }
    .single-input:focus {
      outline: none; }
  
  .input-group-icon {
    position: relative; }
    .input-group-icon .icon {
      position: absolute;
      left: 20px;
      top: 0;
      line-height: 40px;
      z-index: 3; }
      .input-group-icon .icon i {
        color: #797979; }
    .input-group-icon .single-input {
      padding-left: 45px; }
  
  .single-textarea {
    display: block;
    width: 100%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 100px;
    resize: none; }
    .single-textarea:focus {
      outline: none; }
  
  .single-input-primary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px; }
    .single-input-primary:focus {
      outline: none;
      border: 1px solid #39cfca; }
  
  .single-input-accent {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px; }
    .single-input-accent:focus {
      outline: none;
      border: 1px solid #eb6b55; }
  
  .single-input-secondary {
    display: block;
    width: 100%;
    line-height: 40px;
    border: 1px solid transparent;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px; }
    .single-input-secondary:focus {
      outline: none;
      border: 1px solid #f09359; }
  
  .default-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .default-switch input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer; }
      .default-switch input + label {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #39cfca;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
        cursor: pointer; }
      .default-switch input:checked + label {
        left: 19px; }
  
  .primary-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .primary-switch input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .primary-switch input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%; }
        .primary-switch input + label:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          border-radius: 8.5px;
          cursor: pointer;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s; }
        .primary-switch input + label:after {
          content: "";
          position: absolute;
          top: 1px;
          left: 1px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #fff;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
          cursor: pointer; }
      .primary-switch input:checked + label:after {
        left: 19px; }
      .primary-switch input:checked + label:before {
        background: #39cfca; }
  
  .confirm-switch {
    width: 35px;
    height: 17px;
    border-radius: 8.5px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .confirm-switch input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .confirm-switch input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%; }
        .confirm-switch input + label:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: transparent;
          border-radius: 8.5px;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          cursor: pointer; }
        .confirm-switch input + label:after {
          content: "";
          position: absolute;
          top: 1px;
          left: 1px;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background: #fff;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
          cursor: pointer; }
      .confirm-switch input:checked + label:after {
        left: 19px; }
      .confirm-switch input:checked + label:before {
        background: #4cd3e3; }
  
  .primary-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .primary-checkbox input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .primary-checkbox input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      .primary-checkbox input:checked + label {
        background: url(./img/elements/primary-check.png) no-repeat center center/cover;
        border: none; }
  
  .confirm-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .confirm-checkbox input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .confirm-checkbox input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      .confirm-checkbox input:checked + label {
        background: url(./img/elements/success-check.png) no-repeat center center/cover;
        border: none; }
  
  .disabled-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .disabled-checkbox input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .disabled-checkbox input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      .disabled-checkbox input:disabled {
        cursor: not-allowed;
        z-index: 3; }
      .disabled-checkbox input:checked + label {
        background: url(./img/elements/disabled-check.png) no-repeat center center/cover;
        border: none; }
  
  .primary-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .primary-radio input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .primary-radio input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      .primary-radio input:checked + label {
        background: url(./img/elements/primary-radio.png) no-repeat center center/cover;
        border: none; }
  
  .confirm-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .confirm-radio input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .confirm-radio input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      .confirm-radio input:checked + label {
        background: url(./img/elements/success-radio.png) no-repeat center center/cover;
        border: none; }
  
  .disabled-radio {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #f9f9ff;
    position: relative;
    cursor: pointer; }
    .disabled-radio input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0; }
      .disabled-radio input + label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid #f1f1f1; }
      .disabled-radio input:disabled {
        cursor: not-allowed;
        z-index: 3; }
      .disabled-radio input:checked + label {
        background: url(./img/elements/disabled-radio.png) no-repeat center center/cover;
        border: none; }
  
  .default-select {
    height: 40px; }
    .default-select .nice-select {
      border: none;
      border-radius: 0px;
      height: 40px;
      background: #f9f9ff;
      padding-left: 20px;
      padding-right: 40px; }
      .default-select .nice-select .list {
        margin-top: 0;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        width: 100%;
        padding: 10px 0 10px 0px; }
        .default-select .nice-select .list .option {
          font-weight: 300;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          line-height: 28px;
          min-height: 28px;
          font-size: 12px;
          padding-left: 20px; }
          .default-select .nice-select .list .option.selected {
            color: #39cfca;
            background: transparent; }
          .default-select .nice-select .list .option:hover {
            color: #39cfca;
            background: transparent; }
    .default-select .current {
      margin-right: 50px;
      font-weight: 300; }
    .default-select .nice-select::after {
      right: 20px; }
  
  .form-select {
    height: 40px;
    width: 100%; }
    .form-select .nice-select {
      border: none;
      border-radius: 0px;
      height: 40px;
      background: #f9f9ff;
      padding-left: 45px;
      padding-right: 40px;
      width: 100%; }
      .form-select .nice-select .list {
        margin-top: 0;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        width: 100%;
        padding: 10px 0 10px 0px; }
        .form-select .nice-select .list .option {
          font-weight: 300;
          -webkit-transition: all 0.3s ease 0s;
          -moz-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
          line-height: 28px;
          min-height: 28px;
          font-size: 12px;
          padding-left: 45px; }
          .form-select .nice-select .list .option.selected {
            color: #39cfca;
            background: transparent; }
          .form-select .nice-select .list .option:hover {
            color: #39cfca;
            background: transparent; }
    .form-select .current {
      margin-right: 50px;
      font-weight: 300; }
    .form-select .nice-select::after {
      right: 20px; }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Nav Menu Essentials */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none; }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99; }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap; }
  
  .nav-menu > li {
    float: left; }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block; }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%; }
  
  .nav-menu ul li {
    min-width: 180px;
    text-align: left; }
  
  /* Nav Menu Arrows */
  .sf-arrows .sf-with-ul {
    padding-right: 30px; }
  
  .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal; }
  
  .sf-arrows ul .sf-with-ul:after {
    content: "\f105"; }
  
  /* Nav Meu Container */
  #nav-menu-container {
    margin: 0; }
  
  @media (min-width: 1024px) {
    #nav-menu-container {
      padding-right: 60px; } }
  @media (max-width: 768px) {
    #nav-menu-container {
      display: none; } }
  /* Nav Meu Styling */
  .nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    outline: none; }
  
  .nav-menu li:hover > a, .nav-menu > .menu-active > a {
    color: #222222; }
  
  .nav-menu > li {
    margin-left: 10px; }
  
  .nav-menu ul {
    margin: 27px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff; }
  
  .nav-menu ul li {
    transition: 0.3s; }
  
  .nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 12px;
    text-transform: none; }
  
  .nav-menu ul li:hover > a {
    color: #39cfca; }
  
  .nav-menu ul ul {
    margin: 0; }
  
  /* Mobile Nav Toggle */
  #mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 999;
    top: 27px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer; }
  
  #mobile-nav-toggle i {
    color: #fff;
    font-weight: 900; }
  
  @media (max-width: 800px) {
    #mobile-nav-toggle {
      display: inline; }
  
    #nav-menu-container {
      display: none; } }
  /* Mobile Nav Styling */
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s; }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  
  #mobile-nav ul li {
    position: relative; }
  
  #mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700; }
  
  #mobile-nav ul li a:hover {
    color: #fff; }
  
  #mobile-nav ul li li {
    padding-left: 30px; }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff; }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #39cfca; }
  
  #mobile-nav ul .menu-has-children li a {
    text-transform: none; }
  
  #mobile-nav ul .menu-item-active {
    color: #39cfca; }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none; }
  
  /* Mobile Nav body classes */
  body.mobile-nav-active {
    overflow: hidden; }
  
  body.mobile-nav-active #mobile-nav {
    left: 0; }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff; }
  
  .home-banner-area {
    background: url(./img/header-bg.png) no-repeat top center;
    background-size: cover; 
    min-height: 100vh;
    padding-top: 30vh;
    padding-bottom: 15vh;}
  
  .rocket-img {
    position: absolute;
    bottom: -22px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%); }
    .rocket-img.go-top {
      -webkit-transition: all 2.5s ease-in;
      -moz-transition: all 2.5s ease-in;
      -o-transition: all 2.5s ease-in;
      transition: all 2.5s ease-in;
      bottom: 100%; }
    .rocket-img .go-bottom {
      bottom: -22px; }
  
  .banner-content {
    text-align: center; }
    @media (max-width: 1440px) {
      .banner-content {
        margin-top: 0; } }
    .banner-content h1 {
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      line-height: 1em;
      margin-bottom: 20px; }
      @media (max-width: 1024px) {
        .banner-content h1 {
          font-size: 38px; } }
      @media (max-width: 991.98px) {
        .banner-content h1 {
          font-size: 35px; } }
      @media (max-width: 991.98px) {
        .banner-content h1 br {
          display: none; } }
      @media (max-width: 576px) {
        .banner-content h1 {
          font-size: 30px; } }
    .banner-content p {
      max-width: 610px;
      margin: auto; }
    .banner-content .input-wrap {
      margin-top: 40px;
      margin-bottom: 50px; }
      .banner-content .input-wrap .form-box {
        background: #fff;
        max-width: 756px;
        padding: 5px 0px 5px 5px;
        margin: 0 auto; }
      .banner-content .input-wrap .form-control {
        padding: 0 20px;
        border-radius: 0;
        display: inline-block;
        border: 0; }
        @media (max-width: 480px) {
          .banner-content .input-wrap .form-control {
            font-size: 13px; } }

            .banner-content .input-wrap .error-box {
                padding: .375rem .75rem;
                margin-top: 5px;
                border-radius: 0;
                display: inline-block;
                background-color: #fa9b93;
                color: #731b14;
                border: 0; }
        .banner-content .input-wrap .form-control:focus {
          box-shadow: none; }
      .banner-content .input-wrap .search-btn {
        border-radius: 0;
        color: #fff;
        position: relative;
        left: -4px;
        font-size: 14px;
        padding: 10px 31px;
        border: 0; }
        @media (max-width: 480px) {
          .banner-content .input-wrap .search-btn {
            padding: 8px 16px; } }
        .banner-content .input-wrap .search-btn:focus {
          box-shadow: none; }

      .banner-content .list-wrap .form-control {
        border-radius: 0;
        display: inline-block;
        border: 0;
        margin-top: 2px; }

        .banner-content .list-wrap .copy-btn {
          border-radius: 0;
          color: #fff;
          position: relative;
          top: -3px;
          font-size: 14px;
          margin-left: 5px;
          border: 0; }
          @media (max-width: 480px) {
            .banner-content .input-wrap .search-btn {
              padding: 8px 16px; } }
          .banner-content .input-wrap .search-btn:focus {
            box-shadow: none; }
    .banner-content h4 {
      font-weight: 300;
      letter-spacing: 1px; }
    .banner-content .courses {
      max-width: 430px;
      margin: 0 auto; }
  
  .banner-area {
    background: url(./img/banner-bg.png) no-repeat top center;
    background-size: cover;
    min-height: 512px; }
  
  @media (max-width: 991px) {
    .about-area .about-left {
      margin-bottom: 50px; } }
  
  .whole-wrap {
    background-color: #fff; }
  
  .white-bg {
    background: #fff; }
  
  .switch-wrap {
    margin-bottom: 10px; }
    .switch-wrap p {
      margin: 0; }
  
  .left-text {
      float: left;
      text-align: left;
      margin-top: 3px;
  }

  .right-text {
      float:right
  }
  
  .truncate {
    width: 33vw;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /*# sourceMappingURL=main.css.map */
  