

<!-- Start Banner Area -->
<section class="home-banner-area relative">
    <div class="container">
      <div class="row fullscreen d-flex align-items-center justify-content-center">
        <div class="banner-content col-lg-8 col-md-12">
          <h1 class="wow fadeIn" data-wow-duration="4s">We Shorten URLs!</h1>
          <p class="text-white">
            In the history of modern technology, there is probably no one greater leap forward than the shortening of URLs.
          </p>
  
          <div class="input-wrap">
            <div class="form-box d-flex justify-content-between">
              <input [(ngModel)]="new_url" placeholder="Shorten your URL" class="form-control">
              <button (click)="shorten()" class="btn search-btn">Shorten</button>
            </div>
            <div *ngIf="error" class="form-control error-box">Unable to shorten that link. It is not a valid url.</div>
          </div>
            <ul class="list-wrap">
              <li class="form-control" *ngFor="let url of urls">
                <span class="left-text truncate">{{url.long}}</span>
                <span class="right-text">
                  <a [routerLink]="['/'+url.short]">shorten.er/{{url.short}}</a>
                  <button (click)="copy(url)" class="btn copy-btn">Copy</button>
                </span>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </section>
  <!-- End Banner Area -->
  
  